@import 'themes';
@import 'mixins';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color2);
}

main {
  padding: 24px;
}

button {
  @include flexbox(null, center, center);
  background-color: inherit;
  border: none;
  &:active {
    scale: 0.95;
  }
}

ul {
  list-style: none;
}
